* {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

body {
    justify-content: center;
    background: #fbfbfb;
  }


.gallery{
    width: 550px;
    height: 220px;
    background: #d8d8d8;
    display: flex;
    margin:0 auto
}

.gallery2{
  width: 550px;
  height: 220px;
  background: #ededed;
  display: flex;
  margin:0 auto
}


h1 {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    display:flex; 
  }


img{
    display: flex;
    width: 100%;
    box-shadow: 0 10px 7px 0 rgba(122, 122, 122, 0.5);
}



ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 40px;
    gap:60px;
}



header{
    text-align: center;
    background: #fbfbfb;
    padding: 30px;
    width: 39%;
    height: 100px;
    margin:0 auto
}

header ul{
      gap:  60px;
      padding: none;
}

#btn-open ,
#btn-close {
  position: fixed;
  top: 30px;
  right: 350px;
  width: 40px;
  height: 40px;
  border-radius:100px 100px 100px 100px;
  background: #ffb23e;
  color: #FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

}

#btn-close {
  z-index: 300;
  font-size: 20px;
}

#menu {
  background:#ffb23e;
  position: fixed;
  width:320px;
  height:70vh;
  border-radius:20px 20px 20px 20px;
  top: 50px;
  right: 430px;
  z-index: 200;
  visibility: hidden;
  opacity: 0;
}







footer {
    text-align: center;
    background: #fbfbfb;
    padding: 50px;
    width: 36%;
    margin:0 auto
  }
  



  /* タブレット用 */
  @media screen and (max-width: 767px) {
    /*ウィンドウ幅が最大767pxまでの場合に適用*/
    .allContents {
      display: block;
    }

.gallery{
    width: 450px;
    height: 200px;
    background: #d8d8d8;
    display: flex;
    margin:0 auto
  }
  .gallery2{
    width: 450px;
    height: 200px;
    background: #ededed;
    display: flex;
    margin:0 auto
}
    img{
      display: flex;
      width: 80%;
      box-shadow: 0 10px 7px 0 rgba(122, 122, 122, 0.5);
  }
  ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 40px;
    padding-left: 40px;
    gap: 20px;
}
header{
  text-align: center;
  background: #fbfbfb;
  padding: 30px;
  width: 415px;
  margin:0 auto
}

#btn-open ,
#btn-close {
  top: 30px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius:100px 100px 100px 100px;
  background: #ffb23e;
  color: #FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#btn-close {
  z-index: 300;
  font-size: 20px;
}

#menu {
  background:#ffb23e;
  position: fixed;
  width:330px;
  height:70vh;
  border-radius:20px 20px 20px 20px;
  top: 40px;
  right: 100px;
  z-index: 200;
  visibility: hidden;
  opacity: 0;
}


footer {
  text-align: center;
  background: #fbfbfb;
  padding: 50px;
  width: 375px;
  margin:0 auto
}

  }
  
  /* スマホ用 */
  @media screen and (max-width: 479px) {
    /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .allContents {
      display: block;
    }
    img{
      display: flex;
      width: 200%;
      box-shadow: 0 10px 7px 0 rgba(122, 122, 122, 0.5);
  }
  ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    padding-left: 140px;
    gap:60px;
}
  }
  /* ここまで追加 */